graft benchmarks
graft etc
graft docs
graft msinttypes
graft py
graft docs
graft tests
graft src
graft stamp
graft unresolved_bugs
graft .github

include LICENSE
include *.rst
include *.txt
include *.sh
include *.bat
include *.yml
include *.py
include *.h
include *.c
include *.cfg
include *.py
include .gitignore
include MANIFEST.in
include Makefile
